<!-- section decouvrez-->
<div class="container">
    <div class="wrapper">
        <div class="margin-decouvrez text-container">
            <div class="text-content">
                <h1 style="font-weight: bold; font-size: 5vh;">Découvrez</h1>
                <h3>Nos Services Exceptionnels</h3>
                <!-- <p class="text-decouvrez">
                    Nous nous engageons à offrir une gamme complète de services, de
                    l'assistance client à la télévente, axés sur une approche
                    personnalisée et une communication transparente. Notre équipe
                    expérimentée excelle dans la résolution des défis spécifiques à
                    votre secteur, vous offrant des solutions sur mesure pour
                    atteindre vos objectifs commerciaux avec succès.
                </p> -->
            </div>
        </div>
    </div>
</div>
<!-- section home -->
<div class="container">
    <div class="wrapper">
        <div class="text-center margin-home" >
            <div class="row">
                <div class="col-lg-6 col-12 order-lg-1 order-2 position-relative">
                    <div class="votreAllie votreAllieContainer" >
                        <h1 id="welcome-text-1" class="typewriter-text"></h1>
                        <h3 id="welcome-text-2" class="typewriter-text"></h3>
                    </div>
                    <p class="bienvenue">Bienvenue chez ORA, votre partenaire de confiance offrant des services de centre d'appel de premier plan. Découvrez comment notre équipe expérimentée de téléconseillers peut optimiser votre expérience client et contribuer à la croissance de votre entreprise.</p>
                    <button class="btn btn-secondary">EN SAVOIR PLUS</button>
                </div>
            </div>
        </div>
    </div>
</div>


