.wrapper {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.votreAllieContainer {
    position: absolute;
    top: 40px; /* Ajustez selon vos besoins pour la hauteur */
    color: white;
    background-color: rgba(64, 64, 64, 0.856); /* Fond légèrement transparent */
    padding: 20px;
    width: 120%;
    z-index: 1000; /* Superpose sur l'image */
    text-align: left;
}

.superposed-image {
    position: relative;
    z-index: 1; /* S'assure que l'image est derrière le texte */
    width: 100%;
    height: auto; /* Ajustez la hauteur selon vos besoins */
}

.bienvenue {
    font-size: 1.25rem;
    font-style: italic;
    line-height: 2;
    margin-top: 200px;
    text-align: justify;
}

@media (max-width: 992px) {
    .votreAllieContainer {
        position: static;
        background-color: rgba(64, 64, 64, 1); /* Rendre le fond opaque sur mobile */
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }

    .superposed-image {
        margin-top: 20px;
    }

    .bienvenue {
        font-size: 1.25rem;
        font-style: italic;
        line-height: 2;
        margin-top: 40px;
    }
}

/* Style de base pour l'effet d'écriture */
.typewriter-text {
    white-space: nowrap; /* Empêche la rupture de ligne automatique */
    overflow: hidden; /* Cache le texte au début */
    border-right: 2px solid black; /* Curseur de type machine à écrire */
}

/* Animation du curseur clignotant */
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; } /* Le curseur clignote entre transparent et noir */
}

.margin-home{
    margin-top: 2.5rem;
}

.text-decouvrez{
    font-size: 2vh;
}

.text-container {
    position: relative;
    background-image: url('../../assets/table-call.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 2rem;
    min-height: 400px; /* Ajustez la hauteur selon vos besoins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-content {
    position: relative;
    z-index: 2;
    text-align: center; /* Centrer le texte horizontalement */
}

.text-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Overlay sombre pour le contraste */
    z-index: 1;
}




